/* Nav */
.top-font  {
  font-family: lobster, serif;
}
/* Carousel */
.c-itm  {
  height: 480px;
}
.c-img  {
  height: 100%;
  object-fit: cover;
  filter:brightness(0.5);
}
.h-txt  {
  font-family: lobster, serif;
}
.p-txt  {
  font-family: Oswald serif;
}
/* Overview */
.overview  {
  height: 130px;
  background-color: rgb(163, 163, 163);
}